@media (min-width: 1450px) and (max-width: 1850px) {
    .sp-img img {
	max-width: 47%;
}
}

/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1449px) {

.header-wrap h4 {
	font-size: 50px;
	line-height: 50px;
}
    .header-wrap h1 {
	font-size: 80px;
}
    .sp-img img {
	max-width: 500px;
}
    .header-wrap {
	display: flex;
	flex-direction: column;
	justify-content: end;
	max-width: 685px;
	margin-left: auto;
}
    .header-aera {
	height: 565px;
	background-size: 100% 100%;
	background-position: center;
	padding-top: 40px;
	position: relative;
}
    .report-wrap p {
	font-size: 30px;
	line-height: 44px;
	margin-bottom: 7px;
}
    .report-wrap a {
	font-size: 30px;
}
    .report-wrap {
	max-width: 743px;
	margin-left: auto;
}
    .spar-hdn h3 {
	width: 100%;
	height: 88px;
	border-radius: 38px;
	font-size: 40px;
}
    .spar-txt p {
	margin: 0;
	font-size: 25px;
	line-height: 33px;
}
    .spar-hdn {
	margin-bottom: 35px;
}
    .spar-hdn.ttr h3 {
	font-size: 31px;
}
    .spar-area {
	padding-bottom: 91px;
}
    
    
    
    
    
    
    
    
    
    
    
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

 .header-wrap h4 {
	font-size: 35px;
	line-height: 27px;
}
    .header-wrap h1 {
	font-size: 49px;
}
    .sp-img img {
	max-width: 346px;
}
    .header-wrap {
	display: flex;
	flex-direction: column;
	justify-content: end;
	max-width: 493px;
	margin-left: auto;
}
    .header-aera {
	height: 396px;
	background-size: 100% 100%;
	background-position: center;
	padding-top: 40px;
	position: relative;
}
    .report-wrap p {
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 7px;
}
    .report-wrap a {
	font-size: 30px;
}
    .report-wrap {
	max-width: 659px;
	margin-left: auto;
}
    .spar-hdn h3 {
	width: 100%;
	height: 69px;
	border-radius: 18px;
	font-size: 31px;
}
    .spar-txt p {
	margin: 0;
	font-size: 22px;
	line-height: 30px;
}
    .spar-hdn {
	margin-bottom: 35px;
}
    .spar-hdn.ttr h3 {
	font-size: 31px;
}
    .spar-area {
	padding-bottom: 91px;
}  
    .header-wrap h3 {
	font-size: 42px;
	color: #fff;
	font-weight: 700;
	margin: 0;
}
 .hook-text p {
	font-size: 30px;
}   
    .footer-logo a img {
	max-width: 240px;
}
    
    
    
    
    
    
    

}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

  .header-wrap h4 {
	font-size: 35px;
	line-height: 27px;
}
    .header-wrap h1 {
	font-size: 46px;
	margin-bottom: 4px;
}
    .sp-img img {
	max-width: 346px;
}
    .header-wrap {
	display: flex;
	flex-direction: column;
	justify-content: end;
	max-width: a;
	margin-left: auto;
	text-align: center;
}
    .header-aera {
	height: auto;
	background-size: 100% 100%;
	background-position: center;
	padding-top: 40px;
	position: relative;
	padding-top: 65px;
	padding-bottom: 273px;
}
    .report-wrap p {
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 7px;
}
    .report-wrap a {
	font-size: 30px;
}
    .report-wrap {
	max-width: 100%;
	margin-left: auto;
}
    .spar-hdn h3 {
	width: 100%;
	height: 69px;
	border-radius: 18px;
	font-size: 31px;
}
    .spar-txt p {
	margin: 0;
	font-size: 22px;
	line-height: 30px;
}
    .spar-hdn {
	margin-bottom: 16px;
	text-align: center;
}
    .spar-hdn.ttr h3 {
	font-size: 31px;
}
    .spar-area {
	padding-bottom: 51px;
}  
    .header-wrap h3 {
	font-size: 42px;
	color: #fff;
	font-weight: 700;
	margin: 0;
}
 .hook-text p {
	font-size: 25px;
}   
    .footer-logo a img {
	max-width: 240px;
}
    .sp-img {
	display: none;
}
    .report-area {
	padding-bottom: 100px;
	margin-top: 0;
	text-align: center;
}
    .report-area {
	padding-bottom: 50px;
	margin-top: 0;
	text-align: center;
}
    .spar-img img {
	max-width: 400px;
	margin: auto;
	text-align: center;
}
    .spar-img {
	margin: auto;
	text-align: center;
	margin-bottom: 40px;
}
    .spar-txt {
	text-align: center;
}
  .sp-img.nnd {
	display: block;
	text-align: center;
	margin: auto;
	width: 100%;
}
.sp-img.nnd img {
	max-width: 167px;
}
.sp-img.nnd {
	display: block;
	text-align: center;
	margin: auto;
	width: 100%;
	position: unset;
	margin-bottom: 40px;
}  
    
    
    
    
    
    

}
 

/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {

 
    
    .header-wrap h4 {
	font-size: 25px;
	line-height: 20px;
}
    .header-wrap h1 {
	font-size: 36px;
	margin-bottom: 4px;
}
    .sp-img img {
	max-width: 346px;
}
    .header-wrap {
	display: flex;
	flex-direction: column;
	justify-content: end;
	max-width: a;
	margin-left: auto;
	text-align: center;
}
    .header-aera {
	height: auto;
	background-size: cover;
	background-position: center;
	padding-top: 40px;
	position: relative;
	padding-top: 38px;
	padding-bottom: 199px;
}
    .report-wrap p {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 7px;
}
    .report-wrap a {
	font-size: 25px;
}
    .report-wrap {
	max-width: 100%;
	margin-left: auto;
}
    .spar-hdn h3 {
	width: 100%;
	height: 59px;
	border-radius: 18px;
	font-size: 25px;
}
    .spar-txt p {
	margin: 0;
	font-size: 20px;
	line-height: 27px;
}
    .spar-hdn {
	margin-bottom: 16px;
	text-align: center;
}
    .spar-hdn.ttr h3 {
	font-size: 25px;
}
    .spar-area {
	padding-bottom: 51px;
}  
    .header-wrap h3 {
	font-size: 30px;
	color: #fff;
	font-weight: 700;
	margin: 0;
}
 .hook-text p {
	font-size: 20px;
}   
    .footer-logo a img {
	max-width: 199px;
}
    .sp-img {
	display: none;
}
    .report-area {
	padding-bottom: 100px;
	margin-top: 0;
	text-align: center;
}
    .report-area {
	padding-bottom: 50px;
	margin-top: -108px;
	text-align: center;
}
    .spar-img img {
	max-width: 100%;
	margin: auto;
	text-align: center;
}
    .spar-img {
	margin: auto;
	text-align: center;
	margin-bottom: 40px;
}
    .spar-txt {
	text-align: center;
}
  .sp-img.nnd {
	display: block;
	text-align: center;
	margin: auto;
	width: 100%;
}
.sp-img.nnd img {
	max-width: 110px;
}
.sp-img.nnd {
	display: block;
	text-align: center;
	margin: auto;
	width: 100%;
	position: unset;
	margin-bottom: 40px;
}   
    .footer-aera {
	background: #072B51;
	padding: 20px 0;
	text-align: center;
	border-top: 10px solid #E6264D;
}
    
    
    
    
    
    
    
    
}


/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

 
}